<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="flex-column">
      <nav class= "display-flex justify-space-between align-center p-2"> 
        <a href="">Home</a>
        <a href="">Dashboard</a>
        <a href="">Login</a>
        <a href="">Logout</a>
        

       </nav>
      <h1>
      Tech Blog
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
    <footer> 
      <p>made by Matthew</p>
    </footer>
  </div>
  </body>

</html>